# Liga o motor de reescrita de URL do Apache
RewriteEngine On

# Se a URL pedida NÃO for um arquivo que existe de verdade...
RewriteCond %{REQUEST_FILENAME} !-f
# ...E se a URL pedida NÃO for uma pasta que existe de verdade...
RewriteCond %{REQUEST_FILENAME} !-d

# ...então, redirecione a requisição para o arquivo index.php
RewriteRule ^(.*)$ index.php [QSA,L]