@import "tailwindcss";

* {
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
@keyframes progress-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-progress {
  animation: progress-fill 5s linear forwards;
}